<div class="card-body border pb-1">
  <p>
    <strong>Name:</strong>
    <%= contract.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= contract.description %>
  </p>
  <p>
    <strong>Start Date:</strong>
    <%= contract.dateStart %>
  </p>
  <p>
    <strong>Due Date:</strong>
    <%= contract.dateEnd %>
  </p>
  <p>
    <%= link_to 'Destroy Contract', [contract.customer, contract], method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
  </p>
</div>