<%= form_with(model: [@customer, @customer.contracts.build], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :description %><br>
    <%= form.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :dateEnd, "Due Date" %><br>
    <%= form.datetime_field :dateEnd, :class => 'form-control' %>
  </div>
    <%= form.submit :class => 'btn btn-primary' %>
<% end %>