<div class="text-center">
  <h1 class="display-1 text-center">Übung 3</h1>

  <h1 class="mt-5">
    <%= link_to 'Go to Customers (Model I)', customers_path %>
  </h1>

  <div class="mt-5">
    Made by <strong>Max Ripper</strong>
  </div>
</div>