<%= form_with model: @customer, local: true do |form| %>

  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@customer.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :firstName, "First Name" %><br>
    <%= form.text_field :firstName, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :salary %><br>
    <%= form.text_field :salary, :class => 'form-control' %>
  </div>

    <%= form.submit :class => 'btn btn-primary' %>

<% end %>