<h1>All Customers</h1>

<table class="table">
  <tr>
    <th>First Name</th>
    <th>Name</th>
    <th>Salary</th>
    <th></th>
  </tr>

  <%= link_to 'New Customer', new_customer_path, :class => 'btn btn-primary mb-3 mt-1' %>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.firstName %></td>
      <td><%= customer.name %></td>
      <td><%= customer.salary %></td>
      <td class="d-flex justify-content-end">
        <div class="btn-group"><%= link_to 'Show', customer_path(customer), :class => 'btn btn-secondary' %>
          <%= link_to 'Edit', edit_customer_path(customer), :class => 'btn btn-primary' %>
          <%= link_to 'Destroy', customer_path(customer),
                      method: :delete,
                      data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
        </div>
      </td>
    </tr>
  <% end %>
</table>