<h1 class="display-4">Customer</h1>

<p>
  <strong>First Name:</strong>
  <%= @customer.firstName %>
</p>
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>
<p>
  <strong>Salary:</strong>
  <%= @customer.salary %>
</p>

<h2 class="mt-3">Contracts</h2>
<%= render @customer.contracts %>

<div class="border card-body mt-3 mb-2">
  <h2>Add a Contract:</h2>
  <%= render 'contracts/form' %>
</div>

<div class="btn-group">
  <%= link_to 'Back to all', customers_path, :class => 'btn btn-secondary' %>
  <%= link_to 'Edit', edit_customer_path, :class => 'btn btn-primary' %>
</div>